.header {
    display: flex;
    width: 100vw;
    padding: 20px;
    // background: rgb(255, 198, 198);
    justify-content: space-between;
    column-gap: 20px;

    @media screen and (min-width:622px) {
        padding: 20px 80px;
    }

    
    &__logo {
        height: 100%;
        width: 120px;
    }
    @media screen and (min-width:1024px) {
    padding: 30px 100px;

    &__logo {
        width: 150px;
    }
}
}